<template>
  <div>
    <v-card
      class="mx-auto pa-5"
      elevation="8"
      max-width="448"
      rounded="lg"
      
    >
    <v-card-title><h2>Bejelentkezés</h2></v-card-title>
    <v-card-text class="mt-5">
        <div class="text-subtitle-1 text-medium-emphasis">Felhasználói fiók</div>

        <v-text-field
            density="compact"
            placeholder="Email cím"
            prepend-inner-icon="mdi-email-outline"
            variant="outlined"
            v-model="authStore.auth.email"
        ></v-text-field>

      <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
        Jelszó

        <a
          class="d-none text-caption text-decoration-none text-blue"
          href="#"
          rel="noopener noreferrer"
          target="_blank"
        >
          Elfelejtetted a jelszavad?</a>
      </div>

      <v-text-field
        :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
        :type="visible ? 'text' : 'password'"
        v-model="authStore.auth.password"
        density="compact"
        placeholder="Írd be a jelszavad"
        prepend-inner-icon="mdi-lock-outline"
        variant="outlined"
        @click:append-inner="visible = !visible"
      ></v-text-field>
      
      <v-alert class="my-5" color="error" v-if="authStore.error" :text="authStore.error"></v-alert>

      <v-btn block class="mb-8" color="blue" size="large" variant="tonal" @click="login">Bejelentkezés</v-btn>


      <router-link :to="{name: 'register'}">
          Új fiók létrehozása <v-icon icon="mdi-chevron-right"></v-icon>
        </router-link>
      </v-card-text>
      
    </v-card>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useAuthStore } from '../stores/AuthStore';
import { useChallengeV3 } from 'vue-recaptcha'


export default {
    name: "Login",
    setup() {
      const { execute } = useChallengeV3('submit')

      const authStore = useAuthStore();

      const visible = ref(false)

      return {
        authStore,
        execute,
        visible
      };
    },
    methods:{
      async login() {
        await this.execute()
        // TODO: recaptcha lekezelés

        this.authStore.login()
      }
    }
}
</script>