<template>
  <div>
    <v-card
      class="mx-auto pa-5"
      elevation="8"
      max-width="448"
      rounded="lg"
      
    >
        <v-card-title><h2>Felhasználói fiók létrehozása</h2></v-card-title>
        <v-card-text class="mt-5">
            <div class="text-subtitle-1 text-medium-emphasis">Név</div>
            <v-text-field
                density="compact"
                placeholder="Név"
                prepend-inner-icon="mdi-email-outline"
                variant="outlined"
                v-model="authStore.newUser.name"
            ></v-text-field>
            <div class="text-subtitle-1 text-medium-emphasis">Email cím</div>

            <v-text-field
                density="compact"
                placeholder="Email cím"
                prepend-inner-icon="mdi-email-outline"
                variant="outlined"
                v-model="authStore.newUser.email"
            ></v-text-field>

        <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">Jelszó</div>

        <v-text-field
            :append-inner-icon="visible1 ? 'mdi-eye-off' : 'mdi-eye'"
            :type="visible1 ? 'text' : 'password'"
            v-model="authStore.newUser.password"
            density="compact"
            placeholder="Írd be a jelszavad"
            prepend-inner-icon="mdi-lock-outline"
            variant="outlined"
            @click:append-inner="visible1 = !visible1"
        ></v-text-field>
        <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">Jelszó mégegyszer</div>

        <v-text-field
            :append-inner-icon="visible2 ? 'mdi-eye-off' : 'mdi-eye'"
            :type="visible2 ? 'text' : 'password'"
            v-model="authStore.newUser.password_confirmation"
            density="compact"
            placeholder="Ismételd meg a jelszavad"
            prepend-inner-icon="mdi-lock-outline"
            variant="outlined"
            @click:append-inner="visible2 = !visible2"
        ></v-text-field>
        <v-alert class="my-5" color="error" v-if="authStore.error" :text="authStore.error"></v-alert>

        <v-btn block class="mb-8" color="blue" size="large" variant="tonal" @click="register">Regisztráció</v-btn>

        <router-link :to="{name: 'login'}">
            Bejelentkezés <v-icon icon="mdi-chevron-right"></v-icon>
        </router-link>
            
        </v-card-text>
      
    </v-card>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useAuthStore } from '../stores/AuthStore';
import { useChallengeV3 } from 'vue-recaptcha'

export default {
  name: 'Register',
  setup() {

    const { execute } = useChallengeV3('submit')
    const visible1 = ref(false)
    const visible2 = ref(false)

    const authStore = useAuthStore();

    return {
      authStore,
      execute,
      visible1,
      visible2
    };
  },
  methods: {
    async register() {
        await this.execute()
        this.authStore.register()
    }
  }
}
</script>