<script>
import { mapStores } from 'pinia'
import { useDataStore } from '../stores/DataStore'
import { useFormStore } from '../stores/FormStore'
import { useAuthStore } from '../stores/AuthStore'

import GenForm from '../components/GenForm.vue'

export default {
  data() {
    return {
      search: '',
      headers: [
        {
          title: 'Útvonal',
          key: 'path'
        },
        {
          title: 'Mondat',
          key: 'value'
        },
        {
          title: 'Terület típus',
          key: 'site_type'
        },
        {
          title: 'Faj',
          key: 'species'
        },
        {
          title: 'Élőhely',
          key: 'habitat'
        },
        { title: 'Actions', key: 'actions', sortable: false }
      ]
    }
  },
  components: {
    GenForm
  },
  computed: {
    ...mapStores(useDataStore, useFormStore, useAuthStore),
  },
  methods: {
    createItem() {
      this.formStore.loadCreateForm()
    },
    editItem(item) {
      this.dataStore.selected = item
      this.formStore.loadEditForm2()
    },
    deleteItem(item) {
      this.dataStore.selected = item
      this.formStore.delete()
    }
  },
  async mounted() {
    await this.authStore.getUser()
    await this.dataStore.getData()
  }
}
</script>

<template>
  
  <v-data-table
    :headers="headers"
    v-model:search="search"
    :items="dataStore.data"
    :sort-by="[{ key: '_id', order: 'asc' }]"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Mondatok</v-toolbar-title>
        <v-text-field
        v-model="search"
        density="compact"
        label="Search"
        prepend-inner-icon="mdi-magnify"
        variant="solo-filled"
        flat
        hide-details
        single-line
      ></v-text-field>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-btn prepend-icon="mdi-plus" @click="createItem()">új mondat</v-btn>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon class="me-2" size="small" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template>
  </v-data-table>
  <GenForm />
</template>

