<script>
import { mapStores } from 'pinia'
import { useDataStore } from '../stores/DataStore'
import { useFormStore } from '../stores/FormStore'
import { useAuthStore } from '../stores/AuthStore'

import GenForm from '../components/GenForm.vue'

export default {
  data() {
    return {
      search: "",
      totalItems: false,
      itemsPerPage: 10,
      headers: [
        {
          title: 'Latin név',
          key: 'latin_nev',
          sortable: false
        },
        {
          title: 'Magyar név',
          key: 'magyar_nev',
          sortable: false
        },
        {
          title: 'Szinoníma',
          key: 'szinonima',
          sortable: false
        },
        { title: 'Actions', key: 'actions', sortable: false }
      ]
    }
  },
  components: {
    GenForm
  },
  computed: {
    ...mapStores(useDataStore, useFormStore, useAuthStore),
  },
  methods: {
    createItem() {
      this.formStore.loadCreateForm()
    },
    editItem(item) {
      this.dataStore.selected = item
      this.formStore.loadEditForm2()
    },
    deleteItem(item) {
      this.dataStore.selected = item
      this.formStore.delete()
    },
    async loadItems({ page, itemsPerPage, sortBy }) {
      this.dataStore.getDataParams = {
        page,
        itemsPerPage,
        sortBy
      }
      await this.dataStore.getData()
    }
  },
  async mounted() {
    await this.authStore.getUser()
    this.dataStore.getDataParams = {
      page: 1,
      itemsPerPage: 10,
      sortBy: false
    }
    await this.dataStore.getData()
    this.totalItems = this.dataStore.totalItems
  }
}
</script>

<template>
  <v-data-table-server
    :headers="headers"
    v-model:search="search"
    v-model:items-per-page="itemsPerPage"
    :items-length="totalItems"
    :items="dataStore.data"
    @update:options="loadItems"
    :sort-by="[{ key: 'latin_nev', order: 'asc' }]"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>
          <v-text-field
            v-model="search"
            density="compact"
            label="Keresés"
            prepend-inner-icon="mdi-magnify"
            variant="solo-filled"
            flat
            hide-details
            single-line
          ></v-text-field>
        </v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-btn prepend-icon="mdi-plus" @click="createItem()">új faj</v-btn>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon class="me-2" size="small" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template>
  </v-data-table-server>
  <GenForm />
</template>
