<script>
export default {
    props: {
        minHeight: {
            type: Number,
            default: 200
        }
    }
}
</script>

<template>
    <v-card class="d-flex justify-center align-center" :min-height="minHeight" variant="tonal">
        <v-btn
            icon="mdi-plus"
        >
        </v-btn>
    </v-card>
</template>