<script>
import { mapStores } from 'pinia'
import { useDataStore } from '../stores/DataStore'
import JeloloFajok from './DocumentViewerComponents/JeloloFajok.vue'
import JeloloElohelyek from './DocumentViewerComponents/JeloloElohelyek.vue'
import DokumentumAlap from './DocumentViewerComponents/DokumentumAlap.vue'

export default {
  computed: {
    ...mapStores(useDataStore),
    jelolo_fajok() {
      return this.dataStore.selected.jelolo_fajok
    },
    jelolo_elohelyek() {
      return this.dataStore.selected.jelolo_elohelyek
    },
    teruleti_celkituzesek() {
      return this.dataStore.selected.teruleti_celkituzesek
    }
  },
  components: {
    JeloloFajok,
    JeloloElohelyek,
    DokumentumAlap
  }
}
</script>

<template>

  <dokumentum-alap />

  <v-divider class="my-4"></v-divider>

  <JeloloFajok :jelolo_fajok="jelolo_fajok" />

  <v-divider class="my-4"></v-divider>

  <JeloloElohelyek :jelolo_elohelyek="jelolo_elohelyek" />

</template>
