<script>
import { mapStores } from 'pinia';
import { usedataStore } from '../stores/dataStore'
import DocumentViewer from './DocumentViewer.vue';
import GenForm from './GenForm.vue';
import { useFormStore } from '../stores/FormStore';

export default {
    computed: {
        ...mapStores(usedataStore, useFormStore),
        showForm () {
          return this.formStore.structure.schema && this.formStore.structure.uischema
        }
    },
    components: { DocumentViewer, GenForm }
}
</script>

<template>
  <v-row>
    <v-col class="v-col-6 overflow-auto">
      <DocumentViewer :editable="true" />
    </v-col>
    <v-col class="v-col-6 overflow-auto">
      <GenForm />
    </v-col>
  </v-row>
</template>

<style scoped>
.v-col {
  height: 85vh;
}
</style>