<script>
import { mapStores } from 'pinia'
import { useFormStore } from '../stores/FormStore'
import { JsonForms } from '@jsonforms/vue'
import { createAjv, defaultStyles, mergeStyles, vuetifyRenderers } from '@jsonforms/vue-vuetify'
import { useChallengeV3 } from 'vue-recaptcha'
import { set } from 'lodash'

export default {
  setup() {
    const { execute } = useChallengeV3('submit')
    return {
      execute
    }
  },
  computed: {
    ...mapStores(useFormStore),
    myStyles() {
      return mergeStyles(defaultStyles, {
        control: { label: 'mylabel' }
      })
    },
    hasErrors() {
      return this.formStore.errors.length > 0
    },
    showDialog() {
      return this.formStore.schema
    }
  },
  components: {
    JsonForms
  },
  data() {
    return {
      renderers: Object.freeze([...vuetifyRenderers]),
      handleDefaultsAjv: createAjv({useDefaults: true}),
      revisions: {}
    }
  },
  methods: {
    onChange(event) {
      this.formStore.$patch((state) => {
        state.value = event.data
        state.errors = event.errors
        
        if (state.pointer) {
          set(state.data, state.dataPath, event.data)
        }
        else {
          state.data = event.data
        }
      })
    },
    async submit() {
      await this.execute()
      // TODO: recaptcha lekezelés
      if (this.formStore.form_type == 'edit') {
        this.formStore.update()
      } else {
        this.formStore.create()
      }
    },
    async loadRevisions() {
      await this.formStore.loadRevisions()
      this.formStore.revisions.forEach((rev) => {
        if (rev.key in this.revisions === false) {
          this.revisions[rev.key] = []
        }
        this.revisions[rev.key].push(rev.value)
      })
    }
  }
}
</script>

<template>
  <v-dialog v-model="showDialog" scrollable max-width="1200px">
    <template v-slot:default>
      <v-card v-if="formStore.schema">
        <v-card-item>
          <json-forms
            :schema="formStore.schema"
            :renderers="renderers"
            :uischema="formStore.uischema"
            :data="formStore.value"
            @change="onChange"
          />
          <v-alert v-if="false && hasErrors">{{ this.formStore.errors }}</v-alert>
        </v-card-item>
        <v-card-actions class="px-6 py-3 d-flex">
          <v-btn
            prepend-icon="mdi-content-save-edit"
            color="#197278"
            variant="tonal"
            @click="submit()"
            :disabled="hasErrors"
            >Mentés</v-btn
          >
          <v-btn
            class="float-right"
            prepend-icon="mdi-cancel"
            variant="tonal"
            @click="formStore.$reset()"
            >Mégsem</v-btn
          >
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>

<style scoped>
:deep(.vertical-layout-item .v-table) {
  width: 100%;
}
:deep(.vertical-layout-item .v-table td) {
  width: 100%;
}
.v-card-actions {
  justify-content: end;
}
</style>
