<script>
import { mapStores } from 'pinia'
import { useDataStore } from '../stores/DataStore'
import { useFormStore } from '../stores/FormStore';

export default {
    computed: {
        ...mapStores(useDataStore, useFormStore)
     },
     data () {
      return {
        drawer: true,
        rail: true,
      }
    },
}
</script>

<template>
    <v-navigation-drawer
      v-model="drawer"
      :rail="dataStore.page != 'home'"
      permanent
    >
      <v-divider></v-divider>
      <v-list-item prepend-icon="mdi-file-multiple" link title="Dokumentumok" :to="{ name: 'documents' }"></v-list-item>
      <v-divider></v-divider>
      <v-list-item prepend-icon="mdi-map" link title="Területek" :to="{ name: 'sites' }"></v-list-item>
      <v-list-item prepend-icon="mdi-ladybug" link title="Fajnevek" :to="{ name: 'taxa' }"></v-list-item>
      <v-list-item prepend-icon="mdi-forest" link title="Élőhelyek" :to="{ name: 'habitats' }"></v-list-item>
      <v-list-item prepend-icon="mdi-text-box-multiple-outline" link title="Mondatok" :to="{ name: 'sentences' }"></v-list-item>
    </v-navigation-drawer>
    
</template>

<style scoped>
  a {
    text-decoration: none;
  }
</style>