<script setup>
import { computed } from 'vue';
import { RouterView } from 'vue-router';
import { useDataStore } from './stores/DataStore';
import { useAuthStore } from './stores/AuthStore';
import { useHead } from '@unhead/vue'
import { useRecaptchaProvider } from 'vue-recaptcha'
import NavigationDrawer from './components/NavigationDrawer.vue';
import { useFormStore } from './stores/FormStore';

useHead({
    title: 'N2000 document editor',
})
useRecaptchaProvider()

const dataStore = useDataStore();
const authStore = useAuthStore();
const formStore = useFormStore();

const toolbarTitle = computed(() => {
  return dataStore.toolbarTitle()
})

</script>

<template>
  <v-app id="inspire">
    <v-app-bar app>
      <v-app-bar-nav-icon @click="dataStore.back">
        <v-icon v-if="dataStore.selected">mdi-chevron-left</v-icon>
        <router-link v-else :to="{ name: 'home' }">
          <v-icon>mdi-home</v-icon>
        </router-link>
      </v-app-bar-nav-icon>

      <v-toolbar-title>{{ toolbarTitle }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn v-if="authStore.user" icon @click="authStore.logout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>

    <NavigationDrawer />
    
    <v-main>
      <v-container fluid>
        <RouterView />
      </v-container>
    </v-main>
  </v-app>
</template>

<style scoped>
  /* Add your scoped styles here */
</style>

