<script>
export default {
    data () {
        return {

        }
    },
    props: {
        site: Object,
        editable: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<template>
    <v-expansion-panels>
      <v-expansion-panel>
        <v-expansion-panel-title><h3>Terület azonosító adatai</h3></v-expansion-panel-title>
        <v-expansion-panel-text>
            <v-list>
                <v-list-item title="Terület neve:">{{ site.terulet_neve }}</v-list-item>
                <v-list-item title="Terület típusa:">{{ site.terulet_tipusa }}</v-list-item>
                <v-list-item title="Terület azonosítója:">{{ site.terulet_azonositoja }}</v-list-item>
                <v-list-item title="Terület kiterjedése:">{{ site.terulet_kiterjedese }}</v-list-item>
            </v-list>
        </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<style scoped>
:deep(.v-list-item-title) {
    font-weight: bold;
}
</style>