<script>
import { mapStores } from 'pinia';
import { useFormStore } from '../../stores/FormStore';
import AddNewCard from '../AddNewCard.vue';
import { VExpansionPanelTitle } from 'vuetify/lib/components/index.mjs';

export default {
    props: {
        faj_id: {
          type: String,
          default: null
        },
        elohely_id: {
          type: String,
          default: null
        },
        celkituzesek: Array,
        editable: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapStores(useFormStore)
    },
    data() {
        return {
            columns: [
              { value: "objektum", label: "Objektum"},
              { value: "problema", label: "Probléma"},
              { value: "celkituzes", label: "Célkitűzes"},
              { value: "hatarido", label: "Határidő"},
              { value: "erintettek", label: "Érintettek"},
              { value: "megjegyzes", label: "Megjegyzés"}
            ]
        };
    },
    methods: {
        loadEditForm(item_id) {
            if (this.editable) {
              if (this.elohely_id !== null) {
                this.formStore.loadEditForm('elohely_celkituzes', [this.elohely_id, item_id]);
              }
              else if (this.faj_id !== null) {
                this.formStore.loadEditForm('faj_celkituzes', [this.faj_id, item_id]);
              }
            }
        },
        loadCreateForm() {
            if (this.editable) {
              if (this.elohely_id !== null) {
                this.formStore.loadCreateForm('elohely_celkituzes', [this.elohely_id]);
              }
              else if (this.faj_id !== null) {
                this.formStore.loadCreateForm('faj_celkituzes', [this.faj_id]);
              }
            }
        }
    },
    components: { 
      AddNewCard, 
      VExpansionPanelTitle 
    }
}
</script>

<template>
  <v-expansion-panels variant="accordion">
    <v-expansion-panel v-for="ck, idx in celkituzesek" :key="idx">
      <v-expansion-panel-title>{{ ck['objektum'] }}</v-expansion-panel-title>
      <v-expansion-panel-text>
        <v-container>
          <v-row>
            <v-col class="d-flex flex-column justify-center v-col-1">
              <v-btn size="x-small" icon="mdi-pencil" @click="loadEditForm(ck._id)"></v-btn>
            </v-col>
            <v-col class="v-col-11">
              <v-list lines="one">
                <v-list-item v-for="col in columns" :title="col.label" :key="col.value">
                  {{ ck[col.value] }}
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-container>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>

  <AddNewCard v-if="editable" minHeight="80" @click="loadCreateForm()"/>
</template>