<script>
import { mapStores } from 'pinia'
import { useFormStore } from '../../stores/FormStore'

import ListItemWithButton from './ListItemWithButton.vue'
import { useDataStore } from '../../stores/DataStore'
import { useValidationStore } from '../../stores/ValidationStore'

export default {
  components: {
    ListItemWithButton
  },
  data() {
    return {
      attributes: ['datum', 'keszultseg', 'teruleti_celkituzesek']
    }
  },
  computed: {
    ...mapStores(useFormStore, useDataStore, useValidationStore),
    hasErrors() {
      return Object.keys(this.validationStore.errors).filter((e) => this.attributes.includes(e))
        .length
    }
  }
}
</script>

<template>
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-title>
        <h3>
          <v-icon v-if="hasErrors" color="red" class="mr-3">mdi-alert-box</v-icon>
          <v-icon v-else color="green" class="mr-3">mdi-checkbox-marked</v-icon>
          Dokumentum alapadatai
        </h3>
      </v-expansion-panel-title>
      <v-expansion-panel-text>
        <v-list>
          <ListItemWithButton
            title="Dátum:"
            :params="[false, [], 'datum']"
            :text="dataStore.selected.datum"
            :hasError="validationStore.errors.hasOwnProperty('datum')"
          />
          <ListItemWithButton
            title="Natura 2000 fenntartási terv készültsége, elérhetősége:"
            :params="[false, [], 'keszultseg']"
            :text="dataStore.selected.keszultseg.as_string"
            :hasError="validationStore.errors.hasOwnProperty('keszultseg')"
          />
          <ListItemWithButton
            v-if="dataStore.selected.teruleti_celkituzesek"
            title="Területi célkitűzések:"
            :params="[false, [], 'teruleti_celkituzesek']"
            :hasErrors="validationStore.errors.hasOwnProperty('teruleti_celkituzesek')"
          >
            <v-list
              :items="dataStore.selected.teruleti_celkituzesek"
              class="list-title-not-bold"
            ></v-list>
          </ListItemWithButton>
        </v-list>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<style scoped>
:deep(.v-list-item-title) {
  font-weight: bold;
}
:deep(.list-title-not-bold .v-list-item-title) {
  font-weight: normal;
}
</style>
