<script>
import { mapStores } from 'pinia'
import { useFormStore } from '../../stores/FormStore'
import ListItemWithButton from './ListItemWithButton.vue'

export default {
  props: {
    elohely: Object,
    idx: String,
    errors: Object
  },
  computed: {
    ...mapStores(useFormStore),
    items() {
      return [
        {
          name: 'elohely',
          title: 'Élőhely:',
          pointer: '/jelolo_elohelyek/items/elohely',
          text: this.elohely.elohely
        },
        {
          name: 'kiterjedes',
          title: 'Kiterjedés:',
          pointer: '/jelolo_elohelyek/items/kiterjedes',
          text: this.elohely.kiterjedes.as_string
        },
        {
          name: 'reprezentativitas',
          title: 'Reprezentativitás:',
          pointer: '/jelolo_elohelyek/items/reprezentativitas',
          text: this.elohely.reprezentativitas.as_string
        },
        {
          name: 'trend',
          title: 'Trend:',
          pointer: '/jelolo_elohelyek/items/trend',
          text: this.elohely.trend
        },
        {
          name: 'prioritas',
          title: 'Prioritás:',
          pointer: '/jelolo_elohelyek/items/prioritas',
          text: this.elohely.prioritas.as_string
        }
      ]
    }
  },
  methods: {
    delete() {
      this.formStore.deletePart('habitats/' + this.elohely._id)
      this.$emit('closePanels')
    }
  },
  components: { ListItemWithButton }
}
</script>

<template>
  <v-list>
    <ListItemWithButton
      v-for="item in items"
      v-bind:key="item.name"
      :title="item.title"
      :params="[false, [this.idx], item.pointer]"
      :text="item.text"
      :hasError="errors.hasOwnProperty(item.name)"
    />
    <ListItemWithButton
      v-if="elohely.termeszetvedelmi_helyzet"
      title="Természetvédelmi helyzet:"
      :params="[false, [this.idx], '/jelolo_elohelyek/items/termeszetvedelmi_helyzet']"
      :hasError="errors.hasOwnProperty('termeszetvedelmi_helyzet')"
    >
      <v-list
        :items="elohely.termeszetvedelmi_helyzet.map((t) => t.as_string)"
        class="list-title-not-bold"
      ></v-list>
    </ListItemWithButton>
    
    <ListItemWithButton
      v-if="elohely.kotodo_fajok"
      title="Kötődő fajok:"
      :params="[false, [this.idx], '/jelolo_elohelyek/items/kotodo_fajok']"
      :hasError="errors.hasOwnProperty('kotodo_fajok')"
    >
      <v-list :items="elohely.kotodo_fajok" class="list-title-not-bold"></v-list>
    </ListItemWithButton>

    <ListItemWithButton
      v-if="elohely.celkituzesek"
      title="Célkitűzések:"
      :params="[false, [this.idx], '/jelolo_elohelyek/items/celkituzesek']"
    >
      <v-list
        :items="elohely.celkituzesek.map((t) => t.as_string)"
        class="list-title-not-bold"
      ></v-list>
    </ListItemWithButton>
  </v-list>
  <v-list>
    <v-list-item>
      <template v-slot:default>Jelölő élőhely törlése</template>
      <template v-slot:prepend>
        <v-btn
          size="x-small"
          icon="mdi-trash-can"
          variant="tonal"
          color="red"
          @click="this.delete()"
          class="mr-4"
        ></v-btn>
      </template>
    </v-list-item>
  </v-list>
</template>

<style scoped>
:deep(.v-list-item-title) {
  font-weight: bold;
}
:deep(.list-title-not-bold .v-list-item-title) {
  font-weight: normal;
}
</style>
