<script>
import { mapStores } from 'pinia'
import { useFormStore } from '../../stores/FormStore'
import ListItemWithButton from './ListItemWithButton.vue'

export default {
  props: {
    faj: Object,
    idx: String,
    errors: Object
  },
  computed: {
    ...mapStores(useFormStore),
    items() {
      return [
        {
          name: 'faj',
          title: 'Faj:',
          pointer: '/jelolo_fajok/items/faj',
          text: this.faj.faj
        },
        {
          name: 'allomany_tipus',
          title: 'Állomány típusa:',
          pointer: '/jelolo_fajok/items/allomany_tipus',
          text: this.faj.allomany_tipus
        },
        {
          name: 'allomanynagysag',
          title: 'Állománynagyság:',
          pointer: '/jelolo_fajok/items/allomanynagysag',
          text: this.faj.allomanynagysag.as_string
        },
        {
          name: 'populacio',
          title: 'Populáció:',
          pointer: '/jelolo_fajok/items/populacio',
          text: this.faj.populacio.as_string
        },
        {
          name: 'trend',
          title: 'Trend:',
          pointer: '/jelolo_fajok/items/trend',
          text: this.faj.trend
        },
        {
          name: 'prioritas',
          title: 'Prioritás:',
          pointer: '/jelolo_fajok/items/prioritas',
          text: this.faj.prioritas.as_string
        }
      ]
    }
  },
  methods: {
    delete() {
      this.formStore.deletePart('speciezs/' + this.faj._id)
      this.$emit('closePanels')
    }
  },
  components: { ListItemWithButton }
}
</script>

<template>
  <v-list>
    <ListItemWithButton
      v-for="item in items"
      v-bind:key="item.name"
      :title="item.title"
      :params="[false, [this.idx], item.pointer]"
      :text="item.text"
      :hasError="errors.hasOwnProperty(item.name)"
    />

    <ListItemWithButton
      v-if="faj.termeszetvedelmi_helyzet"
      title="Természetvédelmi helyzet:"
      :params="[false, [this.idx], '/jelolo_fajok/items/termeszetvedelmi_helyzet']"
      :hasError="errors.hasOwnProperty('termeszetvedelmi_helyzet')"
    >
      <v-list
        :items="faj.termeszetvedelmi_helyzet.map((t) => t.as_string)"
        class="list-title-not-bold"
      ></v-list>
    </ListItemWithButton>

    <ListItemWithButton
      v-if="faj.kotodo_elohelyek"
      title="Kötődő előhelyek:"
      :params="[false, [this.idx], '/jelolo_fajok/items/kotodo_elohelyek']"
      :hasError="errors.hasOwnProperty('kotodo_elohelyek')"
    >
      <v-list :items="faj.kotodo_elohelyek" class="list-title-not-bold"></v-list>
    </ListItemWithButton>

    <ListItemWithButton
      v-if="faj.celkituzesek"
      title="Célkitűzések:"
      :params="[false, [this.idx], '/jelolo_fajok/items/celkituzesek']"
    >
      <v-list
        :items="faj.celkituzesek.map((t) => t.as_string)"
        class="list-title-not-bold"
      ></v-list>
    </ListItemWithButton>
  </v-list>
  <v-list>
    <v-list-item>
      <template v-slot:default>Jelölő faj törlése</template>
      <template v-slot:prepend>
        <v-btn
          size="x-small"
          icon="mdi-trash-can"
          variant="tonal"
          color="red"
          @click="this.delete()"
          class="mr-4"
        ></v-btn>
      </template>
    </v-list-item>
  </v-list>
</template>

<style scoped>
:deep(.v-list-item-title) {
  font-weight: bold;
}
:deep(.list-title-not-bold .v-list-item-title) {
  font-weight: normal;
}
</style>
