<script>
import { mapStores } from 'pinia'
import JeloloElohely from './JeloloElohely.vue'
import { useFormStore } from '../../stores/FormStore'
import { useValidationStore } from '../../stores/ValidationStore'

export default {
  props: {
    jelolo_elohelyek: Array
  },
  computed: {
    ...mapStores(useFormStore, useValidationStore),
    hasErrors() {
      return Object.keys(this.validationStore.errors).includes('jelolo_elohelyek')
    },
    ids() {
      return Object.keys(this.jelolo_elohelyek).reduce(
        (acc, curr, idx) => ((acc[curr] = idx), acc),
        {}
      )
    }
  },
  components: {
    JeloloElohely
  },
  methods: {
    loadCreateForm() {
      this.formStore.loadCreateForm('habitats')
    },
    hasError(idx) {
      return this.hasErrors && this.validationStore.errors.jelolo_elohelyek[this.ids[idx]]
    }
  },
  data() {
    return {
      panel: false
    }
  }
}
</script>

<template>
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-title>
        <h3>
          <v-icon v-if="hasErrors" color="red" class="mr-3">mdi-alert-box</v-icon>
          <v-icon v-else color="green" class="mr-3">mdi-checkbox-marked</v-icon>
          Jelölő előhelyek
        </h3>
      </v-expansion-panel-title>
      <v-expansion-panel-text>
        <v-expansion-panels v-model="panel">
          <v-expansion-panel v-for="(elohely, idx) in jelolo_elohelyek" :key="idx">
            <v-expansion-panel-title>
              <span>
                <v-icon
                  v-if="hasErrors && validationStore.errors.jelolo_elohelyek[ids[idx]] != null"
                  color="red"
                  class="mr-3"
                  >mdi-alert-box</v-icon
                >
                <v-icon v-else color="green" class="mr-3">mdi-checkbox-marked</v-icon>
                {{ elohely.elohely }}
                <span v-if="elohely.jelolonek_javasolt">(jelölőnek javasolt)</span>
              </span>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
              <JeloloElohely
                :elohely="elohely"
                :idx="idx"
                :errors="hasError(idx) ? validationStore.errors.jelolo_elohelyek[ids[idx]] : {}"
                v-on:closePanels="panel = false"
              />
            </v-expansion-panel-text>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-list>
          <v-list-item>
            <template v-slot:default>Új jelölő élőhely</template>
            <template v-slot:prepend>
              <v-btn
                size="x-small"
                icon="mdi-plus"
                variant="tonal"
                @click="loadCreateForm()"
                class="mr-4"
              ></v-btn>
            </template>
          </v-list-item>
        </v-list>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
