<script>
import { mapStores } from 'pinia'
import { useFormStore } from '../../stores/FormStore'
export default {
  props: {
    title: String,
    params: Array,
    text: String,
    hasError: Boolean
  },
  computed: {
    ...mapStores(useFormStore)
  },
  methods: {
    loadEditForm() {
      this.formStore.loadEditForm2(...this.params)
    }
  }
}
</script>
<template>
  <v-list-item :title="title">
    <template v-slot:prepend>
      <v-btn
        size="x-small"
        icon="mdi-pencil"
        :color="hasError ? 'red' : 'primary'"
        variant="tonal"
        @click="loadEditForm()"
        class="mr-4"
      ></v-btn>
    </template>
    {{ text }}
    <slot></slot>
  </v-list-item>
</template>

<style scoped>
:deep(.v-list-item-title) {
  font-weight: bold;
}
</style>
