<script>
import { mapStores } from 'pinia'
import { useFormStore } from '../../stores/FormStore'
import { useDataStore } from '../../stores/DataStore'
import ListItemWithButton from './ListItemWithButton.vue'

export default {
  components: {
    ListItemWithButton
  },
  computed: {
    ...mapStores(useFormStore, useDataStore),
    showDialog() {
      return this.formStore.schema
    }
  },
  methods: {
    loadCreateForm() {
      this.formStore.loadCreateForm('siteleveltargets')
    }
  }
}
</script>

<template>
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-title>
        <h3>Területi szintű (átfogó) célkitűzések</h3>
      </v-expansion-panel-title>
      <v-expansion-panel-text>
        <v-list>
          <ListItemWithButton
            v-for="(item, i) in dataStore.selected.teruleti_celkituzesek"
            :key="item._id"
            :text="item.sentence"
            :params="[false, [i], '/teruleti_celkituzesek/items/sentence']"
          />
          <v-list-item>
            <template v-slot:default>Új területi célkitűzés</template>
            <template v-slot:prepend>
              <v-btn
                size="x-small"
                icon="mdi-plus"
                variant="tonal"
                @click="loadCreateForm()"
                class="mr-4"
              ></v-btn>
            </template>
          </v-list-item>
        </v-list>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
